div(class="filter h-14")
  div(class="filter__field dark:bg-dm-secondary dark:text-white" id="filter-field")
    p(class="filter__text" id="filter-text") Filter by Region 
    i.fa.fa-angle-down#caret(class="dark:text-white")

  //- option list
  ul(class="filter__list dark:bg-dm-secondary dark:text-white" id="filter-list")
    li.filter__option All

    li.filter__option Africa
      
    li.filter__option America
      
    li.filter__option Asia
      
    li.filter__option Europe
      
    li.filter__option Oceania
      