header(class="sticky top-0 z-40 shadow-md bg-lm-secondary dark:bg-dm-secondary")
  //- header conrainer
  div(class="flex items-center justify-between px-6 py-6 mx-auto max-w-7xl")
    h1(class="text-2xl font-extrabold dark:text-white") Where in the world?
    div(class="")
      i.fa.fa-moon(class="dark:text-white" id="theme-icon")
      span(class="ml-2 cursor-pointer text-lm-text dark:text-dm-text hover:text-green-500" id="theme-toggle") Dark mode