form(class='relative w-full overflow-hidden border-green-400 rounded-lg h-14 border-3 shadow-around md:w-96', id="form")
  i.fas.fa-magnifying-glass(class="absolute text-xl text-gray-400 transform top-2/4 left-10 -translate-y-2/4")
  input(type="text" class="inline-block w-full h-full py-2 pl-24 pr-4 outline-none dark:bg-dm-secondary" name="input" id="input"  placeholder="Search for a country...")