mixin card(cardData)
  div(class="rounded-md")
    //- image content
    div()
      img(src=`${cardData.}` alt="")
    //- card content
    div()
      //- country name
      h3(class="") 
      p(class="")
        span(class="")
      p(class="")
        span(class="")
      p(class="")
        span(class="")